<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='style.css'>
    <title>hello</title>
</head>
<body>
<div class='main'>
    <div class='people'>
        <p class='person lightBlue js-first' draggable="true">Akzhol</p>
        <p class='person lightGreen js-second' draggable="true">Aza</p>
        <p class='person Cyan js-third' draggable="true">Rama</p>
    </div>
    <div class='mainly'>
        <h1 class='head'>Март</h1>
        <div class='parent js-parent'>
        </div>
    </div>
</div>
<script src='script.js'></script>
</body>
</html>